<h1>Hello, Rails!</h1>

<p> Webpacker is the worst thing ever</p>
<p>... well it's not that bad, but error messages are really misleading</p>
<br>

<p>Literally, I solved my issues by following the <a href="https://github.com/rails/jsbundling-rails/blob/main/docs/switch_from_webpacker.md#optional-babel" >guide for switching from webpacker to jsbundling-rails</a></p>
<div>
# From the CLI, add babel presets
</div>
<div>
yarn add @babel/core @babel/preset-env babel-loader
</div>